<%- include('../partials/header') %>

<div class="container">
    <br>
    <div class="box has-background-primary">
        <div class="box has-text-centered">
            
            <h2 class="title is-2"><%= post.name%></h2>
            <h3 class="title is-6">posted by:</h3>
            <h3 class="title is-4"><%= post.owner.username%></h3> <br>
            <img src="data:image/<%=post.nft[0].nftFile.contentType%>;base64,<%=post.nft[0].nftFile.data.toString('base64')%>" alt="nft"> <br>
            <%= post.content%> 
        </div>
        <div class="is-flex is-justify-content-space-between">
           <H1>comments can go here</H1>
        </div>
        
        
    </div>
        
        
        
        
        
        
        
    
</div>


<%- include('../partials/footer') %> 