<%- include('../partials/header')  %>

<div class="container">
    <br>
    <br>
<div class="box has-background-info has-text-centered">
    <div class="box">
        <h1 class="title is-2">Update your profile</h1>
    </div>
    <div class="box">
        <form action="/user/<%= user._id%>?_method=put" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="<%= user.name  %> "><br><br>
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="<%= user.username%>"><br><br>
            <button type="submit" class="button is-primary">Update</button>
        
        
        
        </form>
    </div>
</div>



</div>

<%- include('../partials/footer')  %> 