<%- include('../partials/header')  %>


<div class="container"><br>
    <div class="box has-background-info is-flex-direction-column">
        <div class="box has-background-info is-flex is-justify-content-center">
            <table class="table is-bordered is-striped">
                <thead>
                    <tr class="has-background-link">
                        <th></th>
                        <th>User info</th>
                        <!-- otherheadings -->
                    
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Name</th>
                     <td><%= user.name%></td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td><%= user.username%> </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><%= user.email%></td>
                </tr>
                <tr>
                    <th>AuthId</th>
                    <td><%= user.authId%> </td>
                </tr>
                
                
                </tbody>
            </table>
        </div>
        <div class="box has-background-info is-flex is-justify-content-space-between ">
            <div><a href="/user/<%= user._id%>/edit"><button class="button is-warning">Update Profile</button></a></div>
            <div><a href="/logout"><button class="button is-warning">Log Out</button></a></div>
            <div><a href="#"><button class="button is-danger">Delete Profile</button></a></div>
    
        </div>
        
         
    </div>
    <br>
    
    
    <div class="box has-background-info">
        <div class="box">
            <h2 class="title is-4 has-text-centered">All Posts</h2>
        </div>
        <div class="box has-background-info is-flex-wrap-wrap">
            <% user.posts.forEach(post => { %> 
                <div class="box is-flex-direction-column" style="margin-left: 5px;">
                    <div class="box is-flex is-justify-content-center">
                        <a href="/post/<%= post._id %>"> <%= post.name  %> </a>
                    </div>
                    <div class="box is-flex is-justify-content-space-between">
                        <div>
                            <form action="/post/<%= post._id%>/edit" method="GET">
                                <button class="button is-warning mx-2" type="submit">Update</button>
                            </form>
                        </div>
                        <div>
                            <form action="/post/<%= post._id%>?_method=delete" method="POST">
                                <button class="button is-danger" type="submit">Delete</button>
                            </form>
                        </div>
                   </div>
                </div>
    
            <% }) %>
        </div>
         



    </div>






</div>


<%- include('../partials/footer')  %> 